---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";
import Logo from '../assets/Artboard_1.svg';
---

<header class="py-6 px-4 border-b border-gray-200">
  <nav class="flex justify-between items-center max-w-262.5 mx-auto">

    <a href="/" class="">
      <Image 
        src={Logo} 
        width={60}
        alt="Lyrix Films Logo"
        class="hover:opacity-80 transition-opacity"
      />
    </a>

    <div class="hidden md:flex items-center gap-1 font-medium text-brand-dark/70 px-4 mx-6">
      <HeaderLink href="/" class="nav-link">Home</HeaderLink>
      <HeaderLink href="/projects" class="nav-link">Projects</HeaderLink>
    </div>

    <div class="flex items-center">
      <a 
        href="https://www.instagram.com/lyrixfilms/" 
        target="_blank" 
        class="bg-gray-100 text-indigo-600 px-6 py-2 rounded-md font-semibold border-b-4 border-indigo-700 hover:brightness-95 transition-all"
      >
        CONTACT US
      </a>
    </div>

  </nav>
</header>

<style>

  .nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    color: var(--brand-dark-700);
    padding: 0 1.5rem;
    margin-left: 1.5rem;
  }
  .nav-link {
    padding: 0.5rem 1rem;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
    transition: all 0.2s;
  }

  .nav-link:hover {
    color: #4f39f6;
  }


  .nav-link.active {
    border-bottom-color: #4f39f6;
  }

  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>