---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";

import Logo from '../assets/Artboard 1.svg';
---
<header class="fixed w-full top-0 z-50 bg-white/80 backdrop-blur-md border-b border-gray-100">
  <nav class="max-w-7xl mx-auto px-6 h-20 flex justify-between">

    <a href="/" class="flex items-center">
    <Image 
        src={Logo} 
        width={60}
        alt="Lyrix Films Logo"
        class="hover:opacity-80 transition-opacity"
      />
    </a>

    <!-- Menu centrado -->
    <div class="hidden md:flex items-center gap-8 font-medium text-brand-dark/70 mx-auto">
      <HeaderLink href="/" class="hover:text-brand-cyan transition-colors">Home</HeaderLink>
      <HeaderLink href="/projects" class="hover:text-brand-cyan transition-colors">Projects</HeaderLink>
    </div>

    <!-- Botón -->
    <div class="flex items-center">
      <a href="https://www.instagram.com/lyrixfilms/" target="_blank">
        <button class="flex items-center gap-2 bg-gray-100 text-indigo-600 px-6 py-2 rounded-md font-semibold border-b-4 border-indigo-700 hover:brightness-95 transition-all">
          CONTACT US
        </button>
      </a>
    </div>

  </nav>
</header>

<style>
    nav a {
    padding: 1em 4.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: #4f39f6 ;
  }

  @media (max-width: 720px) {
    .social-links {
      display: none;
    }

</style>